* {
  box-sizing: border-box; }

.game {
  margin: auto;
  position: relative;
  width: 50vw;
  height: 100vh;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); }

.grid {
  position: absolute;
  width: 100%;
  height: 100%; }
  .grid .grid__element {
    height: 1fr;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(40, 40, 40, 0.7);
    border-top: 1px solid rgba(40, 40, 40, 0.7); }
  .grid .grid-element--visible {
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.5); }

.grid--game {
  background: #323232; }

.grid--next-block {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid red;
  right: -60px; }
