* {
    box-sizing: border-box;
}

.game {
    margin: 10px;
    position: relative;
    width: 200px;
    height: 440px;
    border: 1px solid rgba($color: #000000, $alpha: 1.0);
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    .grid__element {
        height: 1fr;
        border-collapse: collapse;
        border: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.grid--game {
    background: #ddd;
}
.grid--current-block {
    
}