* {
    box-sizing: border-box;
}

.game {
    margin: auto;
    position: relative;
    //width: 200px;
    //height: 440px;
    width: 50vw;
    height: 100vh;
    box-shadow: 2px 0px 10px rgba(#000000, .1);
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    .grid__element {
        height: 1fr;
        border-collapse: collapse;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(40, 40, 40, .7);
        border-top: 1px solid rgba(40, 40, 40, .7);
    }
    .grid-element--visible {
        box-shadow: inset -2px -2px 4px rgba(0, 0, 0, .5);
    }
}

.grid--game {
    background: rgba(50, 50, 50, 1);
}
.grid--next-block {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    right: -60px;
}